*.o
*.lo
*.so
Makefile
Makefile.in
tags
ctags
TAGS
.deps
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
autom4te.cache
java/uk/ac/mrc/hgu/Wlz/C2Java/ParseException.java
java/uk/ac/mrc/hgu/Wlz/C2Java/SimpleCharStream.java
java/uk/ac/mrc/hgu/Wlz/C2Java/Token.java
java/uk/ac/mrc/hgu/Wlz/C2Java/TokenMgrError.java
java/uk/ac/mrc/hgu/Wlz/C2Java/WlzC2Java.java
java/uk/ac/mrc/hgu/Wlz/C2Java/WlzC2JavaConstants.java
java/uk/ac/mrc/hgu/Wlz/C2Java/WlzC2JavaTokenManager.java

